engine-strict=true
strict-peer-dependencies=false
public-hoist-pattern=[]
# everything eslint-related should be hoisted in root for text-editor eslint
# integration to detect eslint binary and the corresponding plugins and libs
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
