$phone: 768px;
$big-desktop: 1800px;

$max-content-width: 1200px;

@mixin for-phone-only {
  @media (max-width: $phone) { @content; }
}

@mixin for-desktop-only {
  @media (min-width: $phone) { @content; }
}

@mixin for-big-desktop-only {
  @media (min-width: $big-desktop) { @content; }
}

