@use '../tokens/sizes';

.article {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-areas: "left right";
  padding: sizes.$l 0;
}

.left {
  padding-right: sizes.$m;
  grid-area: left;
}

.imageContainer {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.right {
  padding-left: sizes.$m;
  grid-area: right;
}
