@use '../tokens/sizes';

.article {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-areas: "left right";
  padding: sizes.$l 0;
}

.left {
  padding-right: sizes.$m;
  grid-area: left;
}

.imageSection {
  margin-bottom: sizes.$l;
}

.imageContainer {
  position: relative;
  width: 100%;
  margin-bottom: sizes.$xs;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.caption {
  text-align: center
}

.metadata {
  text-align: right;
}

.right {
  padding-left: sizes.$m;
  grid-area: right;
}

.header {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto min-content;
}

.date {
  white-space: nowrap;
  align-self: center;
}
