@use '../tokens/sizes';
@use '../tokens/colors';

.paragraph {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: sizes.$xs;
  color: colors.$dark;
}

.small {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1em;
  color: colors.$grey;
}

.mainTitle {
  font-family: Rubik, Courier, sans-serif;
  font-weight: 700;
  letter-spacing: sizes.$xxs;
  font-size: 2.6em;
  line-height: 2.2em;
  margin-bottom: sizes.$s;
  color: colors.$dark;
}

.a {
  color: colors.$green;

  &:visited {
    color: colors.$green;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.h1 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  line-height: 2.4em;
  margin-top: sizes.$m;
  margin-bottom: sizes.$s;
  color: colors.$dark;
}

.h2 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.7em;
  margin-top: sizes.$m;
  margin-bottom: sizes.$xs;
  color: colors.$dark;
}

.centered {
  text-align: center;
}

.inverted {
  color: colors.$white;
}

.noMargin {
  margin: 0;
}

.code {
  font-family: Courier, monospace;
}
