@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html {
  background-color: #fff
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1) hue-rotate(180deg);

  img, iframe {
    filter: invert(1) hue-rotate(-180deg);
  }
}

@media (prefers-color-scheme: dark) {
  html { @include dark-appearance; }
}
