@use 'node_modules/@cmd/tokens/sizes';
@use 'node_modules/@cmd/tokens/colors';

.paragraph {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: sizes.$xs;
  color: colors.$dark;
}

.small {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  color: colors.$grey;
}

.mainTitle {
  font-family: Rubik, Courier, sans-serif;
  font-weight: 700;
  letter-spacing: sizes.$xxs;
  font-size: 2.6rem;
  line-height: 2.6rem;
  margin-bottom: sizes.$s;
  color: colors.$dark;
}

.a {
  color: colors.$green;

  &:visited {
    color: colors.$green;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.h1 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.4rem;
  margin-top: sizes.$m;
  margin-bottom: sizes.$l;
  color: colors.$dark;
}

.h2 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: sizes.$l;
  margin-bottom: sizes.$xs;
  color: colors.$dark;
}

.h3 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  margin-top: 0;
  margin-bottom: sizes.$s;
  color: colors.$grey;
}

.centered {
  text-align: center;
}

.inverted {
  color: colors.$white;
}

.noMargin {
  margin: 0;
}

.code {
  font-family: Courier, monospace;
}

.blockquote {
  padding-top: 1rem;
  padding-left: 1rem;

  & > * {
    text-align: center;
  }
}
