@use '@cmd/tokens/breakpoints';
@use '@cmd/tokens/sizes';

.main {
  overflow: hidden;
  padding: sizes.$xl 0 sizes.$s;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: breakpoints.$max-content-width;
  padding: 0 sizes.$l;
}

.smallSection {
  max-width: 0.8 * breakpoints.$max-content-width;
  margin: 0 auto;
}
